{% extends '_layout.html' %}
{% load poll_extras %}
{% block title %}
    سبد خرید
{% endblock %}

{% block content %}
    <section>
        <div class="cart-header-separator"></div>


        <!-- Cart area  -->
        <div class="cart-header-alert pt-3" data-bg-color="#f5f5f5">
            <div class="container rtl">
            </div>
        </div>


        <section class="bj_cart_area" data-bg-color="#f5f5f5">
            <div class="container rtl">
                <div class="row gy-lg-0 gy-3" id="basket_content">
                    {% include 'basket.html' %}
    </section>

{% endblock %}


{% block scripts %}
    <script src="/static/js/ordering.js"></script>
{% endblock %}