{% extends '_layout.html' %}

{% block title %}
    درباره ی نویسنده
{% endblock %}

{% block content %}
    <section class="bj_breadcrumb_area text-center banner_animation_03" data-bg-color="#f5f5f5">
        <div class="bg_one" data-bg-image="/static/img/breadcrumb/breadcrumb_banner_bg.png"></div>
        <div class="bd_shape one wow fadeInDown layer" data-wow-delay="0.3s" data-depth="0.5"><img
                data-parallax='{"y": -50}' src="/static/img/breadcrumb/book_left1.png" alt="">
        </div>
        <div class="bd_shape two wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img
                data-parallax='{"y": 30}' src="/static/img/breadcrumb/book-left2.png" alt="">
        </div>
        <div class="bd_shape three wow fadeInDown layer" data-wow-delay="0.3s" data-depth="0.5"><img
                data-parallax='{"y": -50}' src="/static/img/breadcrumb/plane-1.png" alt="">
        </div>
        <div class="bd_shape four wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img
                data-parallax='{"y": 30}' src="/static/img/breadcrumb/plan-3.png" alt="">
        </div>
        <div class="bd_shape five wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img
                data-parallax='{"y": 80}' src="/static/img/breadcrumb/plan-2.png" alt="">
        </div>
        <div class="bd_shape six wow fadeInDown layer" data-wow-delay="0.3s" data-depth="0.5"><img
                data-parallax='{"y": -60}' src="/static/img/breadcrumb/book-right.png" alt="">
        </div>
        <div class="bd_shape seven wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img
                data-parallax='{"x": 50}' src="/static/img/breadcrumb/book-right2.png" alt="">
        </div>
        <div class="container">
            <h2 class="title">نویسندگان مجرد</h2>
            <ol class="breadcrumb justify-content-center">
                <li><a href="index.html">خانه</a></li>
                <li><a href="author.html">نویسنده</a></li>
                <li class="active">نویسندگان مجرد</li>
            </ol>
        </div>
    </section>
    <!-- breadcrumb area  -->

    <!-- author single area  -->
    <section class="bj_author_single_area sec_padding" data-bg-color="#f5f5f5">
        <div class="container rtl">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="bj_author_single d-flex align-items-center rtl">
                        <img src="{{ author.image.url }}" alt="">
                        <div class="bj_author_single_content">
                            <h2>{{ author.name }}</h2>
                            <p>{{ author.description }}</p>
                            <ul class="book_info">
                                <li><span>موقعیت:</span>نویسنده کتاب</li>
                                <li><span>متولد:</span>{{ author.birth }}</li>
                                <li><span>دسته بندی:</span>
                                    {% for category in categories %}
                                        <a href="{% url 'category_page' category.slug %}">{{ category.title }},</a>

                                    {% endfor %}

                                </li>
                                <li><span>زبان:</span><a href="#">فارسی,</a><a href="#">{{ author.language }}</a></li>
                            </ul>
                            <ul class="list-unstyled f_social_round">
                                <li><a href="#"><i class="social_twitter"></i></a></li>
                                <li><a href="#"><i class="social_facebook"></i></a></li>
                                <li><a href="#"><i class="social_googleplus"></i></a></li>
                                <li><a href="#"><i class="social_pinterest"></i></a></li>
                            </ul>
                            <a href="#" class="bj_theme_btn">تماس با ما</a>
                        </div>
                    </div>
                    <div class="row award_inner">
                        <div class="col-lg-7 col-md-7">
                            <div class="award_content pe-5">
                                <h2 class="title">جوایز و نامزدی</h2>
                                <p>لبا استفاده از طراحان گرافیک است مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                                    کاربردی می باشد،</p>
                                <p>لبا استفاده از طراحان گرافیک است مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                                    کاربردی می باشد،</p>
                                <div class="award_fact">
                                    <div class="bj_fact_item">
                                        <div class="number"><span class="counter">89</span></div>
                                        <p>کپی فروخته شد</p>
                                    </div>
                                    <div class="bj_fact_item">
                                        <div class="number"><span class="counter">{{ author.number_books }}</span></div>
                                        <p>کتاب ها</p>
                                    </div>
                                    <div class="bj_fact_item">
                                        <div class="number"><span class="counter">{{ author.number_awards }}</span></div>
                                        <p>جوایز</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <div class="award_list">
                                <h4>جوایز</h4>
                                <div class="award_list_item">
                                    <h5>زمستان تاریکی</h5>
                                    <ul class="list-unstyled book_meta">
                                        <li>1401</li>
                                        <li>فانتزی</li>
                                    </ul>
                                </div>
                                <div class="award_list_item">
                                    <h5>خاطرات غریبه</h5>
                                    <ul class="list-unstyled book_meta">
                                        <li>1403</li>
                                        <li>جنایت بریتانیا</li>
                                    </ul>
                                </div>
                                <div class="award_list_item">
                                    <h5> مافین گل میخ و کیک کوچک</h5>
                                    <ul class="list-unstyled book_meta">
                                        <li>1401</li>
                                        <li>رمان</li>
                                    </ul>
                                </div>
                                <div class="award_list_item">
                                    <h5>سلسله تبعیدیان</h5>
                                    <ul class="list-unstyled book_meta">
                                        <li>1402</li>
                                        <li>علمی-تخیلی</li>
                                    </ul>
                                </div>
                                <div class="award_list_item">
                                    <h5> نوادگان آوالون</h5>
                                    <ul class="list-unstyled book_meta">
                                        <li>1402</li>
                                        <li>علمی-تخیلی</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- author single area  -->
    <!-- new product area  -->
    <section class="bj_new_product_area_four sec_padding">
        <div class="container rtl">
            <div class="section_title text-center">
                <h2 class="title">نویسندگان کتاب ها</h2>
            </div>
            <div id="portfolio_filter" class="portfolio_filter d-flex justify-content-center">
                <div data-filter="*" class="work_portfolio_item active">همه</div>
                <div data-filter=".bio" class="work_portfolio_item">بیوگرافی</div>
                <div data-filter=".cook" class="work_portfolio_item">کتاب‌های آشپزی</div>
                <div data-filter=".drama" class="work_portfolio_item">درام</div>
                <div data-filter=".kid" class="work_portfolio_item">برای کودک</div>
                <div data-filter=".romance" class="work_portfolio_item">عاشقانه</div>
            </div>
            <div class="projects_gallery_one">
                <div class="row" id="project_portfolio">
                    <div class="col-lg-3 col-md-4 col-sm-6 projects_item bio kid">
                        <div class="best_product_item best_product_item_two">
                            <div class="img">
                                <a href="product-single.html"><img src="/static/img/author_book1.jpg" alt="book"></a>
                                <div class="hover_item">
                                    <a class="quick_button" href="my-wishlist.html" data-bs-toggle="tooltip"
                                       data-bs-placement="right" title="علاقه مندی"><i class="icon_heart_alt"></i></a>
                                    <span data-bs-toggle="tooltip" data-bs-placement="right" title="مشاهده سریع"><button
                                            class="quick_button" data-bs-toggle="modal"
                                            data-bs-target="#productQuickView"><i
                                            class="arrow_move"></i></button></span>
                                    <a class="quick_button" href="#" data-bs-toggle="tooltip" data-bs-placement="right"
                                       title="مقایسه"><i class="ti-control-shuffle"></i></a>
                                </div>
                                <button type="button" class="bj_theme_btn add-to-cart-automated"
                                        data-name="کتاب کار داستان سرایی" data-img="/static/img/author_book1.jpg"
                                        data-price="25"><i class="icon_cart_alt"></i> سبد خرید اضافه شود
                                </button>
                            </div>
                            <div class="bj_new_pr_content">
                                <a href="product-single.html">
                                    <h4 class="bj_new_pr_title">کتاب کار داستان سرایی</h4>
                                </a>
                                <div class="writer_name">اثری از- <a href="author-single.html"> مازیار منوچهری </a>
                                </div>
                                <div class="bj_pr_meta d-flex">
                                    <div class="book_price">250 تومان</div>
                                    <div class="ratting">
                                        <img src="/static/img/home/raiting.png" alt="">
                                        1221
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 projects_item bio drama">
                        <div class="best_product_item best_product_item_two">
                            <div class="img">
                                <a href="product-single.html"><img src="/static/img/author_book2.jpg" alt="book"></a>
                                <div class="hover_item">
                                    <a class="quick_button" href="my-wishlist.html" data-bs-toggle="tooltip"
                                       data-bs-placement="right" title="علاقه مندی"><i class="icon_heart_alt"></i></a>
                                    <span data-bs-toggle="tooltip" data-bs-placement="right" title="مشاهده سریع"><button
                                            class="quick_button" data-bs-toggle="modal"
                                            data-bs-target="#productQuickView"><i
                                            class="arrow_move"></i></button></span>
                                    <a class="quick_button" href="#" data-bs-toggle="tooltip" data-bs-placement="right"
                                       title="مقایسه"><i class="ti-control-shuffle"></i></a>
                                </div>
                                <button type="button" class="bj_theme_btn add-to-cart-automated" data-name="روانشناسی"
                                        data-img="/static/img/author_book2.jpg" data-price="25"><i
                                        class="icon_cart_alt"></i> سبد خرید اضافه شود
                                </button>
                            </div>
                            <div class="bj_new_pr_content">
                                <a href="product-single.html">
                                    <h4 class="bj_new_pr_title">روانشناسی</h4>
                                </a>
                                <div class="writer_name">اثری از- <a href="author-single.html"> بهرام نوری</a></div>
                                <div class="bj_pr_meta d-flex">
                                    <div class="book_price">250 تومان</div>
                                    <div class="ratting">
                                        <img src="/static/img/home/raiting.png" alt="">
                                        1221
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 projects_item cook romance">
                        <div class="best_product_item best_product_item_two">
                            <div class="img">
                                <a href="product-single.html"><img src="/static/img/author_book3.jpg" alt="book"></a>
                                <div class="hover_item">
                                    <a class="quick_button" href="my-wishlist.html" data-bs-toggle="tooltip"
                                       data-bs-placement="right" title="علاقه مندی"><i class="icon_heart_alt"></i></a>
                                    <span data-bs-toggle="tooltip" data-bs-placement="right" title="مشاهده سریع"><button
                                            class="quick_button" data-bs-toggle="modal"
                                            data-bs-target="#productQuickView"><i
                                            class="arrow_move"></i></button></span>
                                    <a class="quick_button" href="#" data-bs-toggle="tooltip" data-bs-placement="right"
                                       title="مقایسه"><i class="ti-control-shuffle"></i></a>
                                </div>
                                <button type="button" class="bj_theme_btn add-to-cart-automated"
                                        data-name="فیلم های مهیج" data-img="/static/img/author_book3.jpg"
                                        data-price="25"><i class="icon_cart_alt"></i> سبد خرید اضافه شود
                                </button>
                            </div>
                            <div class="bj_new_pr_content">
                                <a href="product-single.html">
                                    <h4 class="bj_new_pr_title">پنج حرکت بعدی شما</h4>
                                </a>
                                <div class="writer_name">اثری از- <a href="author-single.html"> بهرام داوودی </a></div>
                                <div class="bj_pr_meta d-flex">
                                    <div class="book_price">250 تومان</div>
                                    <div class="ratting">
                                        <img src="/static/img/home/raiting.png" alt="">
                                        1221
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 projects_item cook romance drama">
                        <div class="best_product_item best_product_item_two">
                            <div class="img">
                                <a href="product-single.html"><img src="/static/img/author_book4.jpg" alt="book"></a>
                                <div class="hover_item">
                                    <a class="quick_button" href="my-wishlist.html" data-bs-toggle="tooltip"
                                       data-bs-placement="right" title="علاقه مندی"><i class="icon_heart_alt"></i></a>
                                    <span data-bs-toggle="tooltip" data-bs-placement="right" title="مشاهده سریع"><button
                                            class="quick_button" data-bs-toggle="modal"
                                            data-bs-target="#productQuickView"><i
                                            class="arrow_move"></i></button></span>
                                    <a class="quick_button" href="#" data-bs-toggle="tooltip" data-bs-placement="right"
                                       title="مقایسه"><i class="ti-control-shuffle"></i></a>
                                </div>
                                <button type="button" class="bj_theme_btn add-to-cart-automated"
                                        data-name="The Ruthless" data-img="/static/img/author_book4.jpg" data-price="55">
                                    <i class="icon_cart_alt"></i> سبد خرید اضافه شود
                                </button>
                            </div>
                            <div class="bj_new_pr_content">
                                <a href="product-single.html">
                                    <h4 class="bj_new_pr_title">بی رحم</h4>
                                </a>
                                <div class="writer_name">اثری از- <a href="author-single.html"> جهان مظفری </a></div>
                                <div class="bj_pr_meta d-flex">
                                    <div class="book_price">550 تومان</div>
                                    <div class="ratting">
                                        <img src="/static/img/home/raiting.png" alt="">
                                        1221
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}