{% extends '_layout.html' %}
{% block title %}
    جزِییات محصول
{% endblock %}

{% block content %}
    <section class="bj_breadcrumb_area text-center banner_animation_03" data-bg-color="#f5f5f5">
        <div class="bg_one" data-bg-image="/static/img/breadcrumb/breadcrumb_banner_bg.png"></div>
        <div class="bd_shape one wow fadeInDown layer" data-wow-delay="0.3s" data-depth="0.5"><img
                data-parallax='{"y": -50}' src="/static/img/breadcrumb/book_left1.png" alt="">
        </div>
        <div class="bd_shape two wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img
                data-parallax='{"y": 30}' src="/static/img/breadcrumb/book-left2.png" alt="">
        </div>
        <div class="bd_shape three wow fadeInDown layer" data-wow-delay="0.3s" data-depth="0.5"><img
                data-parallax='{"y": -50}' src="/static/img/breadcrumb/plane-1.png" alt="">
        </div>
        <div class="bd_shape four wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img
                data-parallax='{"y": 30}' src="/static/img/breadcrumb/plan-3.png" alt="">
        </div>
        <div class="bd_shape five wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img
                data-parallax='{"y": 80}' src="/static/img/breadcrumb/plan-2.png" alt="">
        </div>
        <div class="bd_shape six wow fadeInDown layer" data-wow-delay="0.3s" data-depth="0.5"><img
                data-parallax='{"y": -60}' src="/static/img/breadcrumb/book-right.png" alt="">
        </div>
        <div class="bd_shape seven wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img
                data-parallax='{"x": 50}' src="/static/img/breadcrumb/book-right2.png" alt="">
        </div>
        <div class="container">
            <h2 class="title wow fadeInUp" data-wow-delay="0.2s">فروشگاه کتاب</h2>
            <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.3s">
                <li><a href="index.html">خانه</a></li>
                <li class="active">فروشگاه تک</li>
            </ol>
        </div>
    </section>
    <!-- breadcrumb area  -->
    <section class="product_details_area sec_padding" data-bg-color="#f5f5f5">
        <div class="container rtl">
            <div class="row gy-xl-0 gy-3">
                <div class="col-xl-9">
                    <div class="bj_book_single me-xl-3">
                        <div class="bj_book_img flip">
                            <div class="front"><img class="img-fluid" src="{{ product.image.url }}" alt="">
                            </div>
                            <div class="back"><img class="img-fluid" src="{{ product.image.url }}" alt=""></div>
                            <div class="pr_ribbon">
                                <span class="product-badge">جدید</span>
                            </div>
                        </div>
                        <div class="bj_book_details">
                            <h2>{{ product.title }}</h2>
                            <ul class="list-unstyled book_meta">
                                <li>اثری از:<a href="author-single.html">{{ product.author.name }}</a></li>
                                <li>دسته بندی:<a href="{% url 'category_page' product.category.slug %}">{{ product.category }}</a></li>
                                <li>برچسب بزنید:<a href="shop-sidebar.html">پرفروش ترین ها</a></li>
                            </ul>
                            <div class="ratting review">
                                <div class="star-rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-stroke"></i>
                                    <span>4.5</span>
                                </div>
                                <a href="#product_review" class="woocommerce-review-link">
                                    <span class="count"> 50 </span>بررسی ها
                                </a>
                            </div>
                            <div class="price">{{ product.seprator }}تومان</div>
                            <p>{{ product.description}}
                                </p>
                            <ul class="product_meta list-unstyled">
                                <li><span>ناشر:</span> {{ product.publisher }}</li>
                                <li><span>تاریخ انتشار:</span>{{ product.publication_date }}</li>
                                <li><span>طول چاپ:</span>{{ product.length }} صفحه</li>
                                <li><span>شابک:</span>{{ product.ISBN }}</li>
                                <li><span>زبان:</span>{{ product.language }}</li>
                            </ul>
                            <div class="d-flex">
                                <a href="#" class="bj_theme_btn strock_btn flip_btn">برگشت به عقب</a>
                                <a href="http://www.googleguide.com/print/adv_op_ref.pdf"
                                   class="bj_theme_btn strock_btn gallerypdf"><i class="fa-regular fa-eye"></i>
                                    به داخل نگاه کن</a>
                            </div>


                            <div class="single_product_price_variation">
                                <label class="variation_single">
                                    <input class="variation_single_input" name="variation_single" type="radio" checked>
                                    <span class="price-details">
                                            <span class="price-type">جلد دست</span>
                                            <span class="price-cost">150 تومان</span>
                                        </span>
                                </label>
                                <label class="variation_single">
                                    <input class="variation_single_input" name="variation_single" type="radio">
                                    <span class="price-details">
                                            <span class="price-type">کتاب</span>
                                            <span class="price-cost">200تومان</span>
                                        </span>
                                </label>
                                <label class="variation_single">
                                    <input class="variation_single_input" name="variation_single" type="radio">
                                    <span class="price-details">
                                            <span class="price-type">چاپ کنید</span>
                                            <span class="price-cost">300 تومان</span>
                                        </span>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="bj_book_single_tab_area me-xl-3">
                        <ul class="nav nav-tabs bj_book_single_tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="product_description-tab" data-bs-toggle="tab"
                                        data-bs-target="#product_description" type="button" role="tab"
                                        aria-controls="product_description" aria-selected="true">جزئیات محصول
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="product_aurhor_desc-tab" data-bs-toggle="tab"
                                        data-bs-target="#product_aurhor_desc" type="button" role="tab"
                                        aria-controls="product_aurhor_desc" aria-selected="false">دیگر نویسندگان
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="product_review-tab" data-bs-toggle="tab"
                                        data-bs-target="#product_review" type="button" role="tab"
                                        aria-controls="product_review" aria-selected="false">یادآوری
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content bj_book_single_tab_content mt-4">
                            <div class="tab-pane fade show active" id="product_description" role="tabpanel"
                                 aria-labelledby="product_description-tab">
                                <div class="product_book_content_details">
                                    <div>
                                        <h5 class="content_header mb-2">مزایای کلیدی</h5>
                                        <ul class="content_text mb-2">
                                            <li>
                                                سومین نسخه از پرفروش ترین دستگاه پایتون که بسیار تحسین شده است
                                                کتاب یادگیری
                                            </li>
                                            <li>
                                                توضیحات واضح و شهودی شما را عمیقاً به نظریه و
                                                تمرین یادگیری ماشین پایتون
                                            </li>
                                            <li>
                                                نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
                                                خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
                                                داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
                                                رسد
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h5 class="content_header mb-2">توضیحات</h5>
                                        <p class="content_text mb-2">با استفاده از طراحان گرافیک است مورد نیاز، و
                                            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت
                                            و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با
                                            نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و
                                            فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و
                                            دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد
                                            نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود
                                            طراحی اساسا مورد استفاده قرار گیرد.</p>
                                    </div>
                                    <div>
                                        <h5 class="content_header mb-2">آنچه خواهید آموخت</h5>
                                        <ul class="content_text mb-2">
                                            <li>
                                                برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                                                ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و
                                                آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت
                                                بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو
                                                در زبان فارسی ایجاد کرد
                                            </li>
                                            <li>
                                                برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                                                ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و
                                                آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت
                                                بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو
                                                در زبان فارسی ایجاد کرد
                                            </li>
                                            <li>
                                                فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که
                                                تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
                                                زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته
                                                اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                            </li>
                                            <li>
                                                در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در
                                                شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می
                                                طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص
                                                طراحان خلاقی، و
                                            </li>
                                            <li>
                                                فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که
                                                تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
                                                زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته
                                                اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                            </li>
                                            <li>
                                                فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که
                                                تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
                                                زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته
                                                اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                            </li>
                                            <li>
                                                با استفاده از طراحان گرافیک است مورد نیاز، و کاربردهای متنوع با
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product_aurhor_desc" role="tabpanel"
                                 aria-labelledby="product_aurhor_desc-tab">
                                <div class="tab_slider_content">
                                    <div class="bj_author_single d-flex align-items-center rtl">
                                        <img src="/static/img/home/author.jpg" alt="">
                                        <div class="bj_author_single_content">
                                            <h2>فرهاد نادری</h2>
                                            <p>با استفاده از طراحان گرافیک است مورد نیاز، و کاربردهای متنوع با هدف بهبود
                                                ابزارهای کاربردی می باشد،
                                            </p>
                                            <ul class="book_info">
                                                <li><span>موقعیت:</span>نویسنده کتاب</li>
                                                <li><span>تعداد کتاب:</span>23</li>
                                                <li><span>متولد شد:</span>1973</li>
                                                <li><span>زبان:</span><a href="#">انگلیسی ,</a><a href="#">المانی </a>
                                                </li>
                                            </ul>
                                            <ul class="list-unstyled f_social_round">
                                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-reddit"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa-brands fa-quora"></i></a>
                                                </li>
                                            </ul>
                                            <a href="author-single.html" class="bj_theme_btn text_btn">جزئیات بیشتر<i
                                                    class="arrow_right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product_review" role="tabpanel"
                                 aria-labelledby="product_review-tab">
                                <div class="reviews-item " id="scrollspyReviews">
                                    <div class="d-flex flex-wrap justify-content-between mb-40 gap-3">
                                        <h4 class="review-title d-flex flex-wrap">50 نظرات<span><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i> 4.9</span></h4>
                                        <div>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="modal-btn" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal">
                                                <i class="fas fa-edit"></i>یک نظر بنویسید
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog  modal-dialog-centered">
                                                    <div class="modal-content modal-item">
                                                        <div class="modal-header border-0 p-0">
                                                            <h4 class="modal-title mb-50" id="exampleModalLabel">
                                                                سلام ناصر</h4>
                                                            <button type="button" class="close-btn"
                                                                    data-bs-dismiss="modal" aria-label="Close"><i
                                                                    class="icon_close"></i></button>
                                                        </div>
                                                        <div class="d-flex admin-content">
                                                            <div class="user-img">
                                                                <img src="/static/img/profile-img.png" alt="Admin">
                                                            </div>
                                                            <div>
                                                                <p class="admin-title">کامران قاسم پور</p>
                                                                <p class="admin-sub-title">ارسال به صورت عمومی
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="star-icon">
                                                            <div class="dynamic-star-rating">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>

                                                            </div>
                                                            <input type="hidden" name="rating"
                                                                   class="dynamic-star-rating-input" value="0">
                                                            <textarea
                                                                    class="admin-text form-control dynamic-rating-text"
                                                                    placeholder="جزئیات تجربه خود را در این مکان به اشتراک بگذارید"
                                                                    cols="30" rows="5"></textarea>
                                                        </div>
                                                        <div class="admin-galley">
                                                            <label for="formAdminImgFile">
                                                                <i class="fas fa-image"></i>
                                                            </label>
                                                            <input class="d-none" id="formAdminImgFile" type="file">
                                                        </div>
                                                        <div class="modal-footer border-0">
                                                            <button type="button" class="cancel-btn"
                                                                    data-bs-dismiss="modal">لغو
                                                            </button>
                                                            <button type="button" class="post-btn">ارسال</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gy-lg-0 gy-3">
                                        <div class="col-lg-5">
                                            <div class="your-rating-review">
                                                <h5>رتبه بندی و بررسی شما</h5>
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>

                                                </div>
                                                <p class="review">کتاب خوبی بود، خیلی از نظریه های مهم را فهمیدم
                                                    از کتاب</p>
                                                <button type="button" class="bj_theme_btn strock_btn btn_small_two"
                                                        data-bs-toggle="modal" data-bs-target="#editReviewModal"> تغییر
                                                    نظرات
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="editReviewModal" tabindex="-1"
                                                     aria-labelledby="editReviewModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog  modal-dialog-centered">
                                                        <div class="modal-content modal-item">
                                                            <div class="modal-header border-0 p-0">
                                                                <h4 class="modal-title mb-50" id="editReviewModalLabel">
                                                                    درود حامد</h4>
                                                                <button type="button" class="close-btn"
                                                                        data-bs-dismiss="modal" aria-label="Close"><i
                                                                        class="icon_close"></i></button>
                                                            </div>
                                                            <div class="d-flex admin-content">
                                                                <div class="user-img">
                                                                    <img src="/static/img/profile-img.png" alt="Admin">
                                                                </div>
                                                                <div>
                                                                    <p class="admin-title">کامران نادری</p>
                                                                    <p class="admin-sub-title">ارسال به صورت عمومی
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="star-icon">
                                                                <div class="dynamic-star-rating">
                                                                    <i class="fas fa-star active"></i>
                                                                    <i class="fas fa-star active"></i>
                                                                    <i class="fas fa-star active"></i>
                                                                    <i class="fas fa-star active"></i>
                                                                    <i class="fas fa-star active"></i>

                                                                </div>
                                                                <input type="hidden" name="rating"
                                                                       class="dynamic-star-rating-input" value="0">
                                                                <textarea
                                                                        class="admin-text form-control dynamic-rating-text"
                                                                        placeholder="جزئیات تجربه خود را در این مکان به اشتراک بگذارید"
                                                                        cols="30" rows="5">کتاب خوبی بود، خیلی از نظریه های مهم را از کتاب فهمیدم.</textarea>
                                                            </div>
                                                            <div class="admin-galley">
                                                                <div class="gallery-item">
                                                                    <button class="delete-btn"><i
                                                                            class="fa-regular fa-trash-can"></i>
                                                                    </button>
                                                                    <img src="/static/img/shop/best_book1.jpg" alt="">
                                                                </div>

                                                                <label for="formAdminImgFile2">
                                                                    <i class="fas fa-image"></i>
                                                                </label>
                                                                <input class="d-none" id="formAdminImgFile2"
                                                                       type="file">
                                                            </div>
                                                            <div class="modal-footer border-0">
                                                                <button type="button" class="cancel-btn"
                                                                        data-bs-dismiss="modal">لغو
                                                                </button>
                                                                <button type="button" class="post-btn">ارسال</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <ul class="reviews-box list-unstyled">
                                                <li class="d-flex">5 ستاره <span><span></span></span> (35)</li>
                                                <li>4 ستاره <span><span></span></span> (10)</li>
                                                <li>3 ستاره <span><span></span></span> (3)</li>
                                                <li>2 ستاره <span><span></span></span> (2)</li>
                                                <li>1 ستاره <span><span></span></span> (0)</li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="review-content">
                                        <div class="d-flex flex-sm-row flex-column justify-content-between gap-3 mb-40">
                                            <h4>نظرات</h4>
                                            <div class="review-right">
                                                <div class="sorting-select review-sort selectpickers">
                                                    <select id="sort-select">
                                                        <option value="SortBy Newest" selected>مربوطه</option>
                                                        <option value="SortBy Oldest">جدیدترین</option>
                                                        <option value="SortBy Popular">قدیمی ترین</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-md-flex">
                                            <div>
                                                <img class="admin-img" src="/static/img/profile-img.png" alt="Admin">
                                            </div>
                                            <div class="review-text">
                                                <p class="r-title sub-regular-2">مازیارفلاحی</p>
                                                <div class="r-icon">
                                                    <div>
                                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                            class="fas fa-star"></i> 5
                                                    </div>
                                                    <span>⋅ 5 اردیبهشت 1403</span>
                                                </div>
                                                <p class="small-2">کتاب کار داستان سرایی گوهری برای هر کسی است که به
                                                    دنبال افزایش مهارت های روایت خود است! تمرین‌ها جذاب و کاربردی هستند
                                                    و به راحتی می‌توان با اطمینان در داستان‌سرایی فرو رفت. یک وسیله
                                                    ضروری برای نویسندگان مشتاق!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-md-flex">
                                        <div>
                                            <img class="admin-img" src="/static/img/profile-img.png" alt="Admin">
                                        </div>
                                        <div class="review-text">
                                            <p class="r-title sub-regular-2">دایان همدانی</p>
                                            <div class="r-icon">
                                                <div>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                        class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                        class="fas fa-star"></i> 5
                                                </div>
                                                <span>⋅ 5 اردیبهشت 1403</span>
                                            </div>
                                            <p class="small-2 mb-30">کتاب کار داستان سرایی گوهری برای هر کسی است که به
                                                دنبال افزایش مهارت های روایت خود است! تمرین‌ها جذاب و کاربردی هستند و به
                                                راحتی می‌توان با اطمینان در داستان‌سرایی فرو رفت. یک وسیله ضروری برای
                                                نویسندگان مشتاق!</p>
                                            <div class="d-flex flex-wrap review-img">
                                                <a data-fancybox="gallery" href="/static/img/shop/best_book1.jpg"><img
                                                        src="/static/img/shop/best_book1.jpg" alt="Image"></a>
                                                <a data-fancybox="gallery" href="/static/img/shop/best_book2.jpg"><img
                                                        src="/static/img/shop/best_book2.jpg" alt="Image"></a>
                                                <a data-fancybox="gallery" href="/static/img/shop/best_book3.jpg"><img
                                                        src="/static/img/shop/best_book3.jpg" alt="Image"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product_sidbar">
                        <div class="price_head">خرید جدید: <span class="price">{{ product.seprator }}تومان</span></div>
                        <div class="discount_price">لیست قیمت:
                            <del>150.000&nbsp;تومان</del>
                        </div>
                        <span class="save">(شما ذخیره کنید 45000 تومان (30%))</span>
                        <ul class="list-unstyled">
                            <li>
                                <div class="icon"><img src="/static/img/arrow.png" alt=""></div>
                                سریع، رایگان دریافت کنید
                                حمل و نقل با<span class="blue_text">رایگان
                                        برمی گرداند</span>
                            </li>
                            <li>
                                <div class="icon"><img src="/static/img/arrow.png" alt=""></div>
                                <span class="blue_text">ارسال رایگان</span> ارسال اقلام فقط با 25 تومان
                            </li>
                            <li>
                                <div class="icon"><img src="/static/img/arrow.png" alt=""></div>
                                سریعترین تحویل سه شنبه 18 آبان. سفارش دهید
                                در داخل <span class="blue_text">19 ساعت و 43 دقیقه</span>
                            </li>
                            <li>
                                <div class="icon"><img src="/static/img/pin.png" alt=""></div>
                                موقعیت تحویل را انتخاب کنید
                            </li>
                        </ul>
                        <h3>در انبار.</h3>
                        <div class="product-qty">
                            تعداد:
                            <div class="cart_quantity">
                                <button class="quantity_btn minus"><i class="icon_minus-06"></i></button>
                                <input type="number" min="1" max="99" step="1" value="1">
                                <button class="quantity_btn plus"><i class="icon_plus"></i></button>
                            </div>
                        </div>

                        <div class="d-flex flex-column gap-3">
                            <a href="checkout.html" class="bj_theme_btn"> اکنون خرید کنید</a>
                            <button class="bj_theme_btn add-to-cart-automated" type="button"
                                    data-name="کتاب کار داستان سرایی" data-price="10"
                                    data-img="/static/img/book-single1.jpg" data-mrp="15"><i class="icon_cart_alt"></i>اضافه
                                کردن به سبد خرید
                            </button>
                        </div>
                    </div>

                    <div class="product_details_sidebar">
                        <a class="details_header" data-bs-toggle="collapse" href="#product_details_collapse"
                           role="button" aria-expanded="false" aria-controls="product_details_collapse">
                            <h6 class="mb-0">جزئیات محصول</h6>
                            <i class="fa-solid fa-chevron-up"></i>
                        </a>
                        <div class="collapse show" id="product_details_collapse">
                            <div class="product_details_section_wrap">
                                <div class="product_details_section_content mb-3 mt-3">
                                    <span class="product_details_section_key">تاریخ انتشار :</span>
                                    <span class="product_details_section_value">دی 12, 1403</span>
                                </div>
                                <div class="product_details_section_content mb-3">
                                    <span class="product_details_section_key">طول</span>
                                    <span class="product_details_section_value">772صفحه </span>
                                </div>
                                <div class="product_details_section_content mb-3">
                                    <span class="product_details_section_key">نسخه :</span>
                                    <span class="product_details_section_value">نسخه 3</span>
                                </div>
                                <div class="product_details_section_content mb-3">
                                    <span class="product_details_section_key">زبان :</span>
                                    <span class="product_details_section_value">انگلیسی</span>
                                </div>
                                <div class="product_details_section_content mb-3">
                                    <span class="product_details_section_key">ISBN-13 :</span>
                                    <span class="product_details_section_value">9781789955750</span>
                                </div>
                                <div class="product_details_section_content mb-3">
                                    <span class="product_details_section_key">فروشنده :</span>
                                    <div class="product_details_section_value">
                                            <span>
                                                گوگل
                                            </span>
                                    </div>
                                </div>
                                <div class="product_details_section_content mb-3">
                                    <span class="product_details_section_key">دسته بندی:</span>
                                    <div class="product_details_section_value">
                                        <a href="https://www.packtpub.com/en-us/data" class="fw-600">
                                            تاریخ
                                        </a>
                                    </div>
                                </div>
                                <div class="product_details_section_content mb-3">
                                    <span class="product_details_section_key">زبان :</span>
                                    <div class="product_details_section_value">
                                        <a href="https://www.packtpub.com/en-us/data/language/python" class="fw-600">
                                            پایتون (متخصص)
                                        </a>
                                    </div>
                                </div>
                                <div class="product_details_section_content mb-3">
                                    <span class="product_details_section_key">مفاهیم :</span>
                                    <div class="product_details_section_value">
                                        <a href="https://www.packtpub.com/en-us/data/concept/machine-learning"
                                           class="fw-600">
                                            یادگیری ماشینی </a>
                                    </div>
                                </div>
                                <div class="product_details_section_content mb-3">
                                    <span class="product_details_section_key">ابزار :</span>
                                    <div class="product_details_section_value">
                                        <a href="https://www.packtpub.com/en-us/data/tool/tensorflow" class="fw-600">
                                            ترجمه (متوسط)
                                            ,
                                        </a>
                                        <a href="https://www.packtpub.com/en-us/data/tool/keras" class="fw-600">
                                            سخت (متوسط)
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="bj_frequently_bought_area sec_padding pt-0" data-bg-color="#f5f5f5">
        <div class="container rtl">
            <div class="section_title text-center">
                <h2 class="title_two">اغلب با هم خرید می شود</h2>
                <p>تبلیغات ویژه دریافت کنید همه کتاب ها اکنون !50٪ تخفیف دارند</p>
            </div>
            <div class="row gy-xl-0 gy-4">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="bj_new_pr_item mb-0 wow fadeInUp" data-wow-delay="0.2s">
                        <label class="select-box" for="fbt-box-1">

                            <input type="checkbox" class="form-check-input" id="fbt-box-1" checked>
                        </label>

                        <a href="#" class="img"><img src="/static/img/home/book5.jpg" alt="book"></a>
                        <div class="bj_new_pr_content">
                            <a href="product-single.html">
                                <h4 class="bj_new_pr_title">خورشید و ستاره</h4>
                            </a>
                            <div class="bj_pr_meta d-flex">
                                <div class="norm_text">تابستان 1403</div>
                                <div class="norm_text">77 صفحه</div>
                                <div class="ratting">
                                    <i class="fas fa-star"></i> <span>4.7</span>
                                </div>
                            </div>
                            <div class="product_varaiation">
                                <select class="selectpickers">
                                    <option value="" data-img="/static/img/shop/ereader.png">کتاب</option>
                                    <option value="" data-img="/static/img/shop/book.png">شومیز</option>
                                </select>
                                <div class="book_price mt-2">
                                    <del class="me-2">410</del>
                                    100&nbsp;تومان
                                </div>
                            </div>
                            <button type="button" class="bj_theme_btn strock_btn add-to-cart-automated"
                                    data-name="ستاره و خورشید" data-price="125" data-mrp="350"
                                    data-img="/static/img/home/book5.jpg">سبد خرید اضافه شود
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="bj_new_pr_item mb-0 wow fadeInUp" data-wow-delay="0.3s">
                        <label class="select-box" for="fbt-box-2">
                            <input type="checkbox" class="form-check-input" id="fbt-box-2" checked>
                        </label>

                        <a href="#" class="img"><img src="/static/img/home/book6.jpg" alt="book"></a>
                        <div class="bj_new_pr_content">
                            <a href="product-single.html">
                                <h4 class="bj_new_pr_title">سرگرم کننده ترین</h4>
                            </a>
                            <div class="bj_pr_meta d-flex">
                                <div class="norm_text">پاییز 1403</div>
                                <div class="norm_text">55 صفحه</div>
                                <div class="ratting">
                                    <i class="fas fa-star"></i> <span>4.7</span>
                                </div>
                            </div>
                            <div class="product_varaiation">
                                <select class="selectpickers">
                                    <option value="" data-img="/static/img/shop/ereader.png">کتاب</option>
                                    <option value="" data-img="/static/img/shop/book.png">شومیز</option>
                                </select>
                                <div class="book_price mt-2">
                                    <del class="me-2">410</del>
                                    100&nbsp;تومان
                                </div>
                            </div>
                            <button type="button" class="bj_theme_btn strock_btn add-to-cart-automated"
                                    data-name="ستاره و خورشید" data-price="125" data-mrp="250"
                                    data-img="/static/img/home/book6.jpg">سبد خرید اضافه شود
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="bj_new_pr_item mb-0 wow fadeInUp" data-wow-delay="0.4s">
                        <label class="select-box" for="fbt-box-3">

                            <input type="checkbox" class="form-check-input" id="fbt-box-3" checked>
                        </label>

                        <a href="#" class="img"><img src="/static/img/home/book7.jpg" alt="book"></a>
                        <div class="bj_new_pr_content">
                            <a href="product-single.html">
                                <h4 class="bj_new_pr_title">جادو و ترس</h4>
                            </a>
                            <div class="bj_pr_meta d-flex">
                                <div class="norm_text">بهار 1403</div>
                                <div class="norm_text">27 صفحه</div>
                                <div class="ratting">
                                    <i class="fas fa-star"></i> <span>4.7</span>
                                </div>
                            </div>
                            <div class="product_varaiation">
                                <select class="selectpickers">
                                    <option value="" data-img="/static/img/shop/ereader.png">کتاب</option>
                                    <option value="" data-img="/static/img/shop/book.png">شومیز</option>
                                </select>
                                <div class="book_price mt-2">
                                    <del class="me-2">410</del>

                                </div>
                            </div>
                            <button type="button" class="bj_theme_btn strock_btn add-to-cart-automated"
                                    data-name="ستاره و خورشید" data-price="125" data-mrp="250"
                                    data-img="/static/img/home/book7.jpg">سبد خرید اضافه شود
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-12 col-sm-6">
                    <div class="added_cart_total">
                        <h4 class="mt-auto">مجموع</h4>
                        <div class="price">750&nbsp;تومان</div>
                        <del>250&nbsp;تومان</del>
                        <div>550&nbsp;تومان</div>
                        <a href="#" class="bj_theme_btn w-100 mt-auto">انتخاب شده را به سبد خرید اضافه کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}