{% extends '_layout.html' %}
{% load poll_extras %}
{% block title %}
    جزِییات مقالات
{% endblock %}


{% block content %}
    <section class="bj_breadcrumb_area text-center banner_animation_03" data-bg-color="#f5f5f5">
        <div class="bg_one" data-bg-image="/static/img/breadcrumb/breadcrumb_banner_bg.png"></div>
        <div class="bd_shape one wow fadeInDown layer" data-wow-delay="0.3s" data-depth="0.5"><img
                data-parallax='{"y": -50}' src="/static/img/breadcrumb/book_left1.png" alt="">
        </div>
        <div class="bd_shape two wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img
                data-parallax='{"y": 30}' src="/static/img/breadcrumb/book-left2.png" alt="">
        </div>
        <div class="bd_shape three wow fadeInDown layer" data-wow-delay="0.3s" data-depth="0.5"><img
                data-parallax='{"y": -50}' src="/static/img/breadcrumb/plane-1.png" alt="">
        </div>
        <div class="bd_shape four wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img
                data-parallax='{"y": 30}' src="/static/img/breadcrumb/plan-3.png" alt="">
        </div>
        <div class="bd_shape five wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img
                data-parallax='{"y": 80}' src="/static/img/breadcrumb/plan-2.png" alt="">
        </div>
        <div class="bd_shape six wow fadeInDown layer" data-wow-delay="0.3s" data-depth="0.5"><img
                data-parallax='{"y": -60}' src="/static/img/breadcrumb/book-right.png" alt="">
        </div>
        <div class="bd_shape seven wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img
                data-parallax='{"x": 50}' src="/static/img/breadcrumb/book-right2.png" alt="">
        </div>
        <div class="container">
            <h2 class="title wow fadeInUp" data-wow-delay="0.2s">جزئیات وبلاگ</h2>
            <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.3s">
                <li><a href="index.html">خانه</a></li>
                <li class="active">وبلاگ</li>
            </ol>
        </div>
    </section>
    <!-- breadcrumb area  -->


    <!-- Blog Area -->
    <section class="blog-details-area bg-gray sec_padding">
        <div class="container rtl">
            <div class="row">
                <div class="col-xl-8 mb-50">
                    <div class="details-content round-box wow fadeIn">
                        <img class="rounded-5 mb-30 img-fluid" src="{{ article.img1.url }}" alt="Images">
                        <p>{{ article.para1 }}</p>
                        <p>در تحمل دردها به تو هدیه ای بزرگ خواهم داد، مثل دهلیز زمین، با نفرت از حال، اولام کورپر
                            آیا لایه‌های انبوه در حال سقوط هستند، بچه‌های ما، پروژه‌ها؟ ساکنان ما
                            لذت آرایش با کمال میل. بگذار از چیزها بگریزد و لذت بخشش مرا بپذیر.
                            من همیشه یه جور مو میخواستم! باحال چه روزگاری! در زمان رد بزرگ ازدواج
                            آرایش خنده دار؟ رد وزن کامیون های قدیمی. و اکنون، آنها زندگی می کنند.</p>

                        <blockquote>
                            <h4 class="c_head">او آن را که نان قهوه ای آشکار مقداری چاو سوپر آ
                                شات کور بانوی من لیوان دستشویی چار کور بلیمی گوونور پر کن رفیق
                                پینه دوزها را از پوکای مهره ای او بیرون بیاورند، زنگوله ای به ما بده</h4>
                            <div class="author">میلاد میداودی</div>
                        </blockquote>

                        <p class="details-text mb-30">با استفاده از طراحان گرافیک است مورد نیاز،<span class="deco-text">داوود رستمی
                                لبا استفاده از طراحان گرافیک است مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
                        </p>
                        {#                        <ul>#}
                        {#                            <li class="d-flex"><span></span> تنظیمات فروشگاه</li>#}
                        {#                            <li class="d-flex"><span></span> نصب فروشگاه تجارت الکترونیک</li>#}
                        {#                            <li class="d-flex"><span></span> سیستم مورد نیاز را بررسی کنید</li>#}
                        {#                            <li class="d-flex"><span></span> راه اندازی پایگاه داده</li>#}
                        {#                            <li class="d-flex"><span></span> بارگیری داده های نمونه برای محیط</li>#}
                        {#                            <li class="d-flex"><span></span> نصب دارایی‌ها</li>#}
                        {#                        </ul>#}
                        <img class="rounded-5 mb-35 img-fluid" src="{{ article.img2.url }}" alt="Images">
                        <h5 class="mb-30">این پاسخ برای توانایی ما از اشتباهات مهم است، اما باعث انتقاد از خود نیز می
                            شود.</h5>
                        <p class="details-text">لبا استفاده از طراحان گرافیک است مورد نیاز، و کاربردهای متنوع با هدف
                            بهبود ابزارهای کاربردی می باشد،</p>

                    </div>
                    <div class="social-content d-flex flex-lg-row flex-column gap-3 justify-content-between mb-30 wow fadeInUP">
                        <div class="post-tags">
                            <span>برچسب‌ها:</span>
                            <a href="#">کسب و کار</a>،
                            <a href="#">بازاریابی</a>،
                            <a href="#">نکات</a>
                        </div>
                        <div class="social-item d-flex">
                            <p class="share-text mr-10">اشتراک گذاری:</p>
                            <div class="social-list d-flex justify-content-center">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="post-item round-box mb-30">
                        <h4 class="mb-35">پست مرتبط</h4>
                        <div class="row pb-30">
                            <div class="col-lg-6 wow fadeInRight">
                                <div class="blog-widget">
                                    <img src="/static/img/blog/blog-01.png" alt="Restaurants">
                                    <div class="blog-content ">
                                        <p class="blog-text dot-sep"><i class="icon_tag_alt"></i>مسافرت
                                            <span class="sep">ویدیو ها</span>
                                        </p>
                                        <a href="blog-details.html">
                                            <h5>تبلیغات بنری اینترنتی قابل اطمینان ترین</h5>
                                        </a>
                                        <div class="blog-sub-text">
                                            <img src="/static/img/blog/face-04.png" alt="Face">
                                            <a href="author-single.html">جواد فلکی</a>
                                            <i class="fa-solid fa-calendar-days"></i>
                                            <span>08 مهر 1403</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                                <div class="blog-widget">
                                    <img src="/static/img/blog/blog-02.png" alt="Restaurants">
                                    <div class="blog-content ">
                                        <p class="blog-text dot-sep"><i class="icon_tag_alt"></i>مسافرت
                                            <span class="sep">ویدیو ها</span>
                                        </p>
                                        <a href="blog-details.html">
                                            <h5>تبلیغات بنری اینترنتی قابل اطمینان ترین</h5>
                                        </a>
                                        <div class="blog-sub-text">
                                            <img src="/static/img/blog/face-04.png" alt="Face">
                                            <a href="author-single.html">جواد فلکی</a>
                                            <i class="fa-solid fa-calendar-days"></i>
                                            <span>08 مهر 1403</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% if request.user.is_authenticated %}
                    <div class="comments-item round-box mb-30 wow fadeInUp">
                        <h4 class="mb-35">{{ article.articlecommentmodel_set|filter_by_publish}} نظر داده شده</h4>
                        {% for comment in  article.articlecommentmodel_set.all %}
                            {% if comment.is_publish %}
                            <div class="comments-content">
                                <div>
                                    <img src="/static/img/blog/face-03.png" alt="Face">
                                </div>
                                <div class="comments-text">
                                    <div class="d-flex flex-wrap justify-content-between mb-20">
                                        <div>
                                            <a href="#" class="admin-title"> {{ comment.user }}</a>
                                            <p class="post-time">13 مهر 1403</p>
                                        </div>
                                        <a class="sub-bold-1 comment-reply" data-bs-toggle="collapse"
                                           href="#replyColllapse03" role="button" aria-expanded="false"
                                           aria-controls="replyColllapse03">پاسخ دادن<i
                                                class="fa-solid fa-arrow-right"></i></a>
                                    </div>
                                    <p class="small-2">
                                        {{ comment.text }}
                                    </p>
                                    <div class="collapse" id="replyColllapse03">
                                        <div class="reply-box">
                                            <input type="text" class="form-control" placeholder="نظرات خودرا وارد کنید">
                                            <button><img src="/static/img/blog/Send-Icon.svg" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            </div>
{#                        {% else %}#}

                        {% endfor %}

                    </div>
                {% else %}
                            <div class="col-sm-12 alert alert-danger">برای ثبت نظر باید وارد <a href="{% url 'login_page' %}">حساب کاربری </a>خود شوید</div>
                {% endif %}
                {% if status %}
                                    <div class="col-sm-12 alert-success">کامنت شما با موفقیت ثبت شد و بعد از تایید ادمین منتشر خواهد شد</div>
                {% endif %}
                </div>
                <div class="reply-item round-box wow fadeInUp">
                    <h4>پاسخ دادن</h4>

                    <form class="get_quote_form row" method="post">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <textarea class="form-control message" required name="message"></textarea>
                            <label class="floating-label">نوع نظر...</label>
                        </div>
                        <div class="col-md-12 form-group reply-text d-flex">
                        </div>
                        <div class="col-md-12 form-group">
                            <a  onclick="send_comment({{ article.id }})" class="thm_btn" >ارسال نظر</a>
                        </div>
{#                        {% if login_error %}#}

{#                        {% endif %}#}
                    </form>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-8">
                <div class="blog-right-content mb-50 px-lg-4 wow fadeInLeft">
                    {#                        <div class="input-group mb-50">#}
                    {#                            <input type="text" name="search" id="search" placeholder="جستجو">#}
                    {#                            <span class="search-icon"><i class="las la-search"></i></span>#}
                    {#                        </div>#}

                    {#                        <h4 class="blog-title mb-30">دسته بندی صفحات</h4>#}
                    {##}
                    {#                        <ul class="list-unstyled category_list">#}
                    {#                            <li><a href="#">خلاق <span>(12)</span></a></li>#}
                    {#                            <li><a href="#">الهام <span>(8)</span></a></li>#}
                    {#                            <li><a href="#">سبک زندگی <span>(3)</span></a></li>#}
                    {#                            <li><a href="#">اخبار <span>(4)</span></a></li>#}
                    {#                            <li><a href="#">عکاسی <span>(12)</span></a></li>#}
                    {#                            <li><a href="#">مهارت <span>(15)</span></a></li>#}
                    {#                            <li><a href="#">تورهای گردشگری <span>(10)</span></a></li>#}
                    {#                            <li><a href="#">الهام بخش <span>(5)</span></a></li>#}
                    {#                        </ul>#}

                    {#                        <h4 class="blog-title mb-30">اخبار اخیر</h4>#}
                    {#                        <div class="recent-news mb-50">#}
                    {#                            <div class="news-item">#}
                    {#                                <img src="/static/img/blog/news-01.png" alt="Images">#}
                    {#                                <div>#}
                    {#                                    <a class="news-title" href="blog-details.html">آیا ارزش خرید یک فرم ساز ممتاز را#}
                    {#                                        دارد؟</a>#}
                    {#                                    <p class="news-date"><i class="fa-solid fa-calendar-days"></i>&nbsp;12 آذر 1403#}
                    {#                                    </p>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                            <div class="news-item">#}
                    {#                                <img src="/static/img/blog/news-02.png" alt="Images">#}
                    {#                                <div>#}
                    {#                                    <a class="news-title" href="blog-details.html">ساخت وبسایت خودرا به مابسپارید</a>#}
                    {#                                    <p class="news-date"><i class="fa-solid fa-calendar-days"></i>&nbsp;12 آذر 1403#}
                    {#                                    </p>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                            <div class="news-item">#}
                    {#                                <img src="/static/img/blog/news-03.png" alt="Images">#}
                    {#                                <div>#}
                    {#                                    <a class="news-title" href="blog-details.html">آنها گفتند که آنها فقط نمی دانند#}
                    {#                                        چگونه از خود مراقبت کنند#}
                    {#                                        پیچ و تاب</a>#}
                    {#                                    <p class="news-date"><i class="fa-solid fa-calendar-days"></i>&nbsp;12 آذر 1403#}
                    {#                                    </p>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                            <div class="news-item">#}
                    {#                                <img src="/static/img/blog/news-04.png" alt="Images">#}
                    {#                                <div>#}
                    {#                                    <a class="news-title" href="blog-details.html">من هرگز چنین لبخند نرم دردناکی ندیده#}
                    {#                                        بودم#}
                    {#                                        همیشه</a>#}
                    {#                                    <p class="news-date"><i class="fa-solid fa-calendar-days"></i>&nbsp;12 آذر 1403#}
                    {#                                    </p>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <h4 class="blog-title mb-30">برچسب ها</h4>#}
                    {#                        <div class="tags-item d-flex flex-wrap mb-50">#}
                    {#                            <a class="tags-btn" href="#">مسافرت</a>#}
                    {#                            <a class="tags-btn" href="#">میز ​​کمک</a>#}
                    {#                            <a class="tags-btn" href="#">عکاسی</a>#}
                    {#                            <a class="tags-btn" href="#">سبک زندگی</a>#}
                    {#                            <a class="tags-btn" href="#">وردپرس</a>#}
                    {#                            <a class="tags-btn" href="#">توسعه</a>#}
                    {#                            <a class="tags-btn" href="#">پشتیبانی</a>#}
                    {#                            <a class="tags-btn" href="#">جاوا اسکریپت</a>#}
                    {#                            <a class="tags-btn" href="#">تجارت الکترونیک</a>#}
                    {#                            <a class="tags-btn" href="#">وردپرس</a>#}
                    {#                        </div>#}
                    {#                        <h4 class="blog-title mb-30">اینستاگرام</h4>#}
                    {#                        <div class="instagram-gallery-widget ">#}
                    {#                            <a href="#" class="instagram-item">#}
                    {#                                <img src="/static/img/blog/Instagram-01.png" alt="">#}
                    {#                            </a>#}
                    {#                            <a href="#" class="instagram-item">#}
                    {#                                <img src="/static/img/blog/Instagram-02.png" alt="">#}
                    {#                            </a>#}
                    {#                            <a href="#" class="instagram-item">#}
                    {#                                <img src="/static/img/blog/Instagram-03.png" alt="">#}
                    {#                            </a>#}
                    {#                            <a href="#" class="instagram-item">#}
                    {#                                <img src="/static/img/blog/Instagram-04.png" alt="">#}
                    {#                            </a>#}
                    {#                            <a href="#" class="instagram-item">#}
                    {#                                <img src="/static/img/blog/Instagram-05.png" alt="">#}
                    {#                            </a>#}
                    {#                            <a href="#" class="instagram-item">#}
                    {#                                <img src="/static/img/blog/Instagram-06.png" alt="">#}
                    {#                            </a>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="/static/js/article_details.js"></script>
{% endblock %}