{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML ,CSS ,JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}

            {% endblock %}
    </title>
    {% include 'links.html' %}
</head>
<body>

{% include 'load_page.html' %}

{% render_partial 'home_app.views.header_component' %}


{% block content %}

{% endblock %}


{% render_partial 'home_app.views.footer_component' %}

<a id="back-to-top" title="Back to Top"></a>

{% include 'scripts.html' %}

</body>
</html>