<footer class="bj_footer_area padding_top" data-bg-color="#001F58">
    <img class="footer_bg_img" src="/static/img/home/footer_img.jpg" alt=""/>
    <div class="footer_top rtl">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-6">
                    <div class="f_widget link_widget wow fadeInUp" data-wow-delay="0.2s">
                        <h2 class="f_widget_title">کمپانی</h2>
                        <ul class="list-unstyled list">
                            <li><a href="about.html">درباره ما</a></li>
                            <li><a href="{% url 'contact_page' %}">تماس با ما</a></li>
                            <li><a href="blog-grid.html">وبلاگ</a></li>
                            <li><a href="author.html">نویسنده</a></li>
                            <li><a href="book-listing.html">کتاب ها</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="f_widget link_widget ps-lg-5 wow fadeInUp" data-wow-delay="0.3s">
                        <h2 class="f_widget_title">سرویس ها</h2>
                        <ul class="list-unstyled list">
                            <li><a href="shop.html">فروشگاه</a></li>
                            <li><a href="my-orders.html">سفارش</a></li>
                            <li><a href="cart.html">سبدخرید</a></li>
                            <li><a href="checkout.html">تسویه حساب</a></li>
                            <li><a href="my-wishlist.html">علاقه مندی ها</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="f_widget link_widget ps-lg-5 wow fadeInUp" data-wow-delay="0.3s">
                        <h2 class="f_widget_title">صفحات</h2>
                        <ul class="list-unstyled list">
                            <li><a href="login.html">ورود</a></li>
                            <li><a href="registration.html">ثبت نام</a></li>
                            <li><a href="typography.html">تایپوگرافی</a></li>
                            <li><a href="404.html">404 صفحات</a></li>
                            <li><a href="my-ebook-library.html">کتاب الکترونیکی</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="f_widget link_widget ps-lg-5 wow fadeInUp" data-wow-delay="0.4s">
                        <h2 class="f_widget_title">خبرنامه</h2>
                        <p>
                            آئنیاس قرار است یکی از نخبگان فوتبال باشد و او با تیر به دنیا آمده است.
                        </p>
                        <form action="#" class="d-flex justify-content-end footer-search">
                            <input type="email" class="form-control email-form" placeholder="ایمیل خود را وارد کنید"/>
                            <button class="bj_theme_btn btn-Subscribe" type="submit">
                                <i class="arrow_right"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_middle wow fadeInUp" data-wow-delay="0.5s">
        <div class="container rtl">
            <div class="row">
                <div class="col-lg-4 col-md-12 text-center text-lg-start">
                    <a href="#" class="f_logo">
                        <img src="/static/img/home/logo-white.svg" alt="f_logo"/>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer_social d-flex justify-content-lg-center">
                        صفحات مارو دنبال کنید:
                        <ul class="list-unstyled f_social_round">
                            <li>
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer_terms text-end">
                        <a href="terms-condition.html">شرایط خدمات</a>
                        <a href="privacy-policy.html">سیاست حفظ حریم خصوصی</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_bottom text-center wow fadeInUp" data-wow-delay="0.6s">
        <p>© 2024 کتاب باز تمامی حقوق محفوظ است</p>
    </div>
</footer>