<header class="header_area header_relative header_blue">
    <nav class="navbar navbar-expand-lg menu_one menu_white" id="header">
        <div class="container rtl">
            <a class="navbar-brand sticky_logo" href="index.html">
                <img src="/static/img/home/logo-white.svg" alt="logo"/>
                <img src="/static/img/home-two/logo-dark.svg" alt="logo"/>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_toggle">
                            <span class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="hamburger-cross">
                                <span></span>
                                <span></span>
                            </span>
                        </span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav menu w_menu ms-auto me-auto">
                    <li class="nav-item dropdown submenu active">
                        <a class="nav-link dropdown-toggle" href="{% url 'home_page' %}" role="button" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            خانه
                        </a>
{#                        <ul class="dropdown-menu">#}
{#                            <li class="nav-item active">#}
{#                                <a href="index.html" class="nav-link">خانه اول</a>#}
{#                            </li>#}
{#                            <li class="nav-item">#}
{#                                <a href="index-2.html" class="nav-link">خانه دوم</a>#}
{#                            </li>#}
{#                            <li class="nav-item">#}
{#                                <a href="index-3.html" class="nav-link">خانه سوم</a>#}
{#                            </li>#}
{#                            <li class="nav-item">#}
{#                                <a href="index-4.html" class="nav-link">خانه چهارم</a>#}
{#                            </li>#}
{#                        </ul>#}
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link dropdown-toggle" href="shop.html" role="button" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            فروشگاه
                        </a>

                        <ul class="dropdown-menu">
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="{% url 'product_list' %}"
                                    aria-haspopup="true" aria-expanded="false">
                                    فروشگاه
                                </a>
{#                                <ul class="dropdown-menu">#}
{#                                    <li class="nav-item">#}
{#                                        <a href="shop.html" class="nav-link">فروشگاه</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="shop-no-sidebar.html" class="nav-link">فروشگاه بدون نوار کناری</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="product-single.html" class="nav-link">جزئیات محصول</a>#}
{#                                    </li>#}
{#                                </ul>#}
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="cart.html" role="button"
                                   data-bs-toggle="dropdown"  aria-expanded="false">
                                    سبد خرید
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="cart.html" class="nav-link">سبد خرید</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="cart-guest.html" class="nav-link">سبد خرید مهمان</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="checkout.html" role="button"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    تسویه حساب
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="checkout.html" class="nav-link">تسویه حساب</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="checkout-login.html" class="nav-link">ورود به سیستم پرداخت</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="checkout-gift.html" class="nav-link">پرداخت هدیه</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link dropdown-toggle" href="my-account.html" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            داشبورد
                        </a>

                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="my-account.html" class="nav-link">پروفایل کاربری</a>
                            </li>

                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="my-orders.html" role="button"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    سفارشات
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="my-orders.html" class="nav-link">سفارشات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="order-track.html" class="nav-link">پیگیری سفارشات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="order-confrmation.html" class="nav-link">صفحه قدردانی</a>
                                    </li>
                                </ul>
                            </li>

                            <a href="my-ebook-library.html" class="nav-link">کتاب الکترونیکی</a>


                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="my-list.html" role="button"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    فهرست کتاب
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="my-list.html" class="nav-link">فهرست کتاب</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="my-list-details.html" class="nav-link">جزیئات فهرست کتاب</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="my-list-create.html" class="nav-link">ساخت فهرست کتاب</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="my-address.html" role="button"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    دفترچه آدرس
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="my-address.html" class="nav-link">دفترچه آدرس</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="add-new-address.html" class="nav-link">اضافه کردن آدرس جدید</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="my-following-authors.html" class="nav-link">نویسندگان</a>
                            </li>
                            <li class="nav-item">
                                <a href="my-rating-reviews.html" class="nav-link">رتبه بندی و نظرات</a>
                            </li>
                            <li class="nav-item">
                                <a href="my-wishlist.html" class="nav-link">علاقه مندی ها</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown submenu mega_menu tab-demo">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">کاوش کنید
                        </a>
                        <ul class="dropdown-menu sub">
                            <li>
                                <div class="row">
                                    <div class="col-lg-5 tabHeader">
                                        <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                            aria-orientation="vertical">
                                            <li class="nav-item active">
                                                <a class="nav-link" id="v-pills-tour-tab" data-toggle="pill"
                                                   href="#v-pills-tour" role="tab" aria-controls="v-pills-tour"
                                                   aria-selected="false">صفحات سودمند</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="v-others-menu-tab" data-toggle="pill"
                                                   href="#v-others-menu" role="tab" aria-controls="v-others-menu"
                                                   aria-selected="false">کمپانی</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="v-pills-doc-tab" data-toggle="pill"
                                                   href="#v-pills-doc" role="tab" aria-controls="v-pills-doc"
                                                   aria-selected="true">صفحات فروشگاه</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="v-pills-code-tab" data-toggle="pill"
                                                   href="#v-pills-code" role="tab" aria-controls="v-pills-code"
                                                   aria-selected="false">داشبورد</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="v-pills-layout-tab" data-toggle="pill"
                                                   href="#v-pills-layout" role="tab" aria-controls="v-pills-layout"
                                                   aria-selected="false">وبلاگ و نویسنده</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="tab-content tabContent" id="v-pills-tabContent">
                                            <div class="tab-pane fade active show" id="v-pills-tour" role="tabpanel"
                                                 aria-labelledby="v-pills-tour-tab">
                                                <div class="d-flex">
                                                    <ul class="list-unstyled tab_list w_100">
                                                        <li>
                                                            <a href="login.html">واردشوید</a>
                                                        </li>
                                                        <li>
                                                            <a href="registration.html">ثبت نام کنید</a>
                                                        </li>
                                                        <li>
                                                            <a href="typography.html">تایپوگرافی</a>
                                                        </li>
                                                        <li>
                                                            <a href="page-banner-style-2.html">سبک بنر
                                                                02</a>
                                                        </li>
                                                        <li>
                                                            <a href="page-banner-style-3.html">سبک بنر
                                                                03</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-others-menu" role="tabpanel"
                                                 aria-labelledby="v-others-menu-tab">
                                                <div class="d-flex">
                                                    <ul class="list-unstyled tab_list w_100">
                                                        <li>
                                                            <a href="book-listing.html">فهرست کتاب</a>
                                                        </li>
                                                        <li>
                                                            <a href="about.html">درباره</a>
                                                        </li>
                                                        <li>
                                                            <a href="{% url 'contact_page' %}">تماس با ما</a>
                                                        </li>
                                                        <li>
                                                            <a href="terms-condition.html">شرایط و خدمات</a>
                                                        </li>
                                                        <li>
                                                            <a href="privacy-policy.html">سیاست حفظ حریم خصوصی</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-doc" role="tabpanel"
                                                 aria-labelledby="v-pills-doc-tab">
                                                <div class="d-flex">
                                                    <ul class="list-unstyled tab_list">
                                                        <li>
                                                            <a href="{% url 'product_list' %}">فروشگاه</a>
                                                        </li>
{#                                                        <li>#}
{#                                                            <a href="shop-no-sidebar.html">فروشگاه بدون نوار کناری</a>#}
{#                                                        </li>#}
{#                                                        <li>#}
{#                                                            <a href="product-single.html">جزئیات محصول</a>#}
{#                                                        </li>#}
                                                        <li>
                                                            <a href="cart.html">سبدخرید</a>
                                                        </li>
                                                        <li>
                                                            <a href="cart-guest.html">سبد خرید مهمان</a>
                                                        </li>
                                                    </ul>
                                                    <ul class="list-unstyled tab_list">
                                                        <li>
                                                            <a href="checkout.html">تسویه حساب</a>
                                                        </li>
                                                        <li>
                                                            <a href="checkout-gift.html">پرداخت هدیه</a>
                                                        </li>
                                                        <li>
                                                            <a href="checkout-login.html">ورود به سیستم پرداخت</a>
                                                        </li>

                                                        <li>
                                                            <a href="my-wishlist.html">علاقه مندی ها</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-code" role="tabpanel"
                                                 aria-labelledby="v-pills-code-tab">
                                                <div class="d-flex">
                                                    <ul class="list-unstyled tab_list">
                                                        <li>
                                                            <a href="my-account.html">پروفایل کاربری</a>
                                                        </li>
                                                        <li>
                                                            <a href="my-orders.html">سفارش ها</a>
                                                        </li>
                                                        <li>
                                                            <a href="order-track.html">پیگیری سفارش ها</a>
                                                        </li>
                                                        <li>
                                                            <a href="order-confrmation.html">صفحه قدردانی</a>
                                                        </li>
                                                        <li>
                                                            <a href="my-ebook-library.html">کتاب الکترونیکی</a>
                                                        </li>
                                                        <li>
                                                            <a href="my-following-authors.html">نویسندگان</a>
                                                        </li>
                                                        <li>
                                                            <a href="my-rating-reviews.html">رتبه بندی نویسندگان</a>
                                                        </li>

                                                    </ul>
                                                    <ul class="list-unstyled tab_list">
                                                        <li>
                                                            <a href="my-list.html">لیست کتاب</a>
                                                        </li>
                                                        <li>
                                                            <a href="my-list-details.html">جزیئات لیست کتاب</a>
                                                        </li>
                                                        <li>
                                                            <a href="my-list-create.html">ساخت لیست کتاب</a>
                                                        </li>
                                                        <li>
                                                            <a href="my-address.html">آدرس کتاب</a>
                                                        </li>
                                                        <li>
                                                            <a href="add-new-address.html">اضافه کردن آدرس جدید </a>

                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-layout" role="tabpanel"
                                                 aria-labelledby="v-pills-layout-tab">
                                                <div class="d-flex">
                                                    <ul class="list-unstyled tab_list">
                                                        <li>
                                                            <a href="blog-grid.html">شبکه و وبلاگ</a>
                                                        </li>
                                                        <li>
                                                            <a href="blog-extend-grid.html">شبکه گسترده</a>
                                                        </li>
                                                        <li>
                                                            <a href="blog-list.html">لیست وبلاگ</a>
                                                        </li>
                                                        <li>
                                                            <a href="blog-details.html">جزیئات وبلاگ</a>
                                                        </li>
                                                        <li>
                                                            <a href="author.html">نویسنده</a>
                                                        </li>
                                                        <li>
                                                            <a href="author-single.html">نویسندگان مجرد</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link dropdown-toggle" href="blog-list.html" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            وبلاگ
                        </a>

                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="blog-grid.html" class="nav-link">شبکه ووبلاگ</a>
                            </li>
                            <li class="nav-item">
                                <a href="blog-extend-grid.html" class="nav-link">شبکه گسترده</a>
                            </li>
                            <li class="nav-item">
                                <a href="blog-list.html" class="nav-link">لیست وبلاگ</a>
                            </li>
                            <li class="nav-item">
                                <a href="blog-details.html" class="nav-link">جزیئات وبلاگ</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="alter_nav">
                    <ul class="navbar-nav search_cart menu">
                        <li class="nav-item search">
                            <a class="nav-link search-btn" href="javascript:void(0);"><i class="icon-search"></i></a>
                            <form action="#" method="get" class="menu-search-form">
                                <div class="input-group">
                                    <input type="search" class="form-control" placeholder=" جستجو "/>
                                    <button type="submit">
                                        <i class="ti-arrow-right"></i>
                                    </button>
                                </div>
                            </form>
                        </li>
                        <li class="nav-item shpping-cart dropdown submenu">
                            <a class="cart-btn nav-link dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-shopping-basket"></i><span class="num">2</span></a>
                            <ul class="dropdown-menu">
                                <li class="cart-single-item clearfix">
                                    <div class="cart-img">
                                        <img src="/static/img/cart1.jpg" alt="styler"/>
                                    </div>
                                    <div class="cart-content text-left">
                                        <p class="cart-title">
                                            <a href="product-single.html">صورتی کم رنگ و مشکی دکمه دار</a>
                                        </p>
                                        <p>
                                            <del>تومان400.000</del>
                                            -تومان350.000
                                        </p>
                                    </div>
                                    <div class="cart-remove">
                                        <a href="#" class="action"><span class="ti-close"></span></a>
                                    </div>
                                </li>
                                <li class="cart-single-item clearfix">
                                    <div class="cart-img">
                                        <img src="/static/img/cart1.jpg" alt="styler"/>
                                    </div>
                                    <div class="cart-content text-left">
                                        <p class="cart-title">
                                            <a href="product-single.html">ورا بردلی چمدان بزرگ</a>
                                        </p>
                                        <p>تومان350.000</p>
                                    </div>
                                    <div class="cart-remove">
                                        <a href="#" class="action"><span class="ti-close"></span></a>
                                    </div>
                                </li>
                                <li class="cart_f">
                                    <div class="cart-pricing">
                                        <p class="total">
                                            جمع فرعی :<span class="p-total text-end">تومان358.00</span>
                                        </p>
                                    </div>
                                    <div class="cart-button text-center">
                                        <a href="cart.html" class="btn btn-cart get_btn pink">سبد خرید</a>
                                        <a href="checkout.html" class="btn btn-cart get_btn dark">تسویه حساب</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item user ms-3">
                            <a class="nav-link" href="my-account.html"><i class="icon-user"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>