<div id="preloader">
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="round_spinner">
            <div class="spinner"></div>
            <div class="text">
                <img src="/static/img/favicon.png" alt="Image">
                <h4><span>کتاب باز</span></h4>
            </div>
        </div>
        <h2 class="head">آیا میدانستید؟</h2>
        <p></p>
    </div>
</div>
<div class="body_wrapper">

    <div class="toast-container position-fixed p-3">
        <div id="cartToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">اضافه به سبدخرید</strong>
                <small>همین الان</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                کالا به سبد خرید اضافه شد!
            </div>
        </div>
    </div>
