<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/preloader.js"></script>
<script src="/static/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/vendors/parallax/parallax.js"></script>
<script src="/static/vendors/slick/slick.min.js"></script>
<script src="/static/js/comming-soon.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/vendors/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendors/wow/wow.min.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/article_details.js"></script>

